.tabbarup {
  height: 50px;
  background-color: #daca75;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tabbarup .tabbutton {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 1s;
}

.tabbarup .tabbutton:hover {
  border-radius: 50%;
  background-color: #c1eb29;;
}

.tabbarup.stick-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.tabbarup.stick-top {
  position: absolute;
  top: 0px;
  width: 100%;
}

.tabbarup.stick-left {
  position: absolute;
  left: 0px;
  height: 100%;
  flex-direction: column;
}

.tabbarup.stick-right {
  position: absolute;
  right: 0px;
  height: 100%;
  flex-direction: column;
}